table{
  width: 700px;
  border-collapse: collapse;
}
th, tr {
  border: 1px solid black;
  padding: 3px;
}
tr:nth-child(1){
  background-color: grey;
}
.win {
  background-color: rgb(56, 250, 17);
}
.lost {
  background-color: rgb(245, 69, 69);
}
.inPlay {
  background-color: yellow;
}